<nav class="document-type-nav text-center" aria-label="Document types">
  <h3 class="sr-only">Browse by Document Type</h3>
  <p><strong>Document Type</strong></p>
  <p>
    <a href="/archive/">All</a> ({{ len .Site.RegularPages }}) |
    <a href="/archive/newspapers/">Newspaper Reports</a> ({{ len (where .Site.RegularPages "Section" "newspapers") }}) |
    <a href="/archive/editorials/">Newspaper Opinions</a> ({{ len (where .Site.RegularPages "Section" "editorials") }}) |
    <a href="/archive/television/">Television Reports</a> ({{ len (where .Site.RegularPages "Section" "television") }})<br />
    <a href="/archive/magazines/">News Magazines</a> ({{ len (where .Site.RegularPages "Section" "magazines") }}) |
    <a href="/archive/books/">Books</a> ({{ len (where .Site.RegularPages "Section" "books") }}) |
    <a href="/archive/treaties/">Treaties</a> ({{ len (where .Site.RegularPages "Section" "treaties") }}) |
    <a href="/archive/statutes/">Statutes</a> ({{ len (where .Site.RegularPages "Section" "statutes") }}) |
    <a href="/archive/government/">Government Documents</a> ({{ len (where .Site.RegularPages "Section" "government") }})<br />
    <a href="/archive/speeches/">Speeches</a> ({{ len (where .Site.RegularPages "Section" "speeches") }}) |
    <a href="/archive/documents/">Activist Documents</a> ({{ len (where .Site.RegularPages "Section" "documents") }})
  </p>
</nav>
