<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

<meta name="author" content="Jason A. Heppler" />
<meta name="copyright" content="Jason A. Heppler" />
<meta name="robots" content="index,follow" />
<link rel="author" href="/about/" title="About the author" />
<meta name="description" content="This digital history project explores the history of the Trail of Broken Treaties, newspaper coverage, and the American Indian Movement's use of media in crafting their image." />
<meta name="keywords" content="American Indian Movement, AIM, history, newspaper, television, race, media, American Indian, Native American, politics, sixties, 1960, Richard Nixon, BIA, Bureau of Indian Affairs, March on Washington, National Congress of American Indians, National Indian Youth Council, NCAI, NIYC" />

<!-- Google Fonts - Newsprint Typography -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/css/modern.css" type="text/css" rel="stylesheet">

<!-- JavaScripts -->
<script type="text/javascript" src="/js/frp.js"></script>
<script type="text/javascript" src="/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/js/aimtbt.js"></script>
</head>
